.Header {
    height: 100px;
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #050505;
    z-index: 999;
}

.Container {
    width: 96%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;

    @media(max-width: 768px) {
        justify-content: center;
    }
}

.Heading {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;

    @media(max-width: 768px) {
        display: none;
    }
}

.Nav {
    display: flex;
}

.Ul {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.ContactBtn {
    margin-right: 2em;

    &:hover {
        a {
            color:#69696a;
        }
    }

    &:last-of-type {
        background-color: #fff;
        width: 152px;
        height: 48px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media(max-width: 500px) {
            background-color: unset;
            width: unset;
            height: unset;
            border-radius: unset;
            display: unset;
            align-items: unset;
            justify-content: unset;
        }

        &:hover {
            background-color: #69696a;
            @media(max-width: 500px) {
                background-color: unset;

                a {
                    color: #69696a;
                }
            }
        }

        a {
            color: #000;

            @media(max-width: 500px) {
                color: #fff;
            }
            
        }
    }
}

.Atag {
    font-size: 1.5em;
    color: #fff;

    @media(max-width: 650px) {
        font-size: 1em;
    }
}

.Bar {
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: 0.5s;
}
// #69696a
