@font-face {
  font-family: 'sans-pro';
  src: url('../../../public/fonts/SourceSansPro-Bold.otf');
}

.navigation {
  position: fixed;
  height: 100px;
  width: 100vw;
  max-width: 100%;
  display: flex;
  padding: 0 3rem;
}

.logo {
  margin-right: auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  ul {
    display: flex;
    gap: 1.5rem;

    li {
      list-style: none;
    }
  }
}

.icon {
  transition: stroke 0.3s ease-in-out;

  &:hover {
    stroke: #e5c078;
  }
}

.toolTip {
  font-family: 'sans-pro';
}

@media (max-width: 768px) {
  .navigation {
    padding: 0 1.5rem;
  }
  .nav {
    height: 60px;
    ul {
      gap: 0.75rem;
      li {
        a {
          svg {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }
}
