.Projects {
    width: 100vw;
    max-width: 100%;
    height: 100%;
    display: flex;
    background-color: #050505;
    padding: 100px 0;
}

.ProjectsWrapper {
    max-width: 1512px;
    margin: 0 auto;
}

.ProjectsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;

    h1 {
        font-size: 60px;
        color: #fff;
        z-index: 100;
    }
}

.Bar {
    width: 140px;
    height: 5px;
    background-color: #00df9a;
}


// Project Item //
.ProjectItem {
    margin: 13px 0;
    padding: 50px 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: 850px){
        padding: 25px 15px;
    }

    @media(max-width: 800px){
        flex-direction: column;
    }
}

.Reverse {
    @media(max-width: 800px){
        flex-direction: column-reverse;
    }
}

.ProjectImage {
    width: auto;
    height: 407px;

    @media(max-width: 800px){
        height: auto;
        width: 100%;
    }
}

.TextContainer {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-wrap: break-word;
}

.Link {
    font-size: 0.875rem;
    color: #00df9a;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.24em;
    margin-bottom: 16px;
}

.Title {
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    margin-bottom: 24px;
    line-height: 1.1;

    @media(max-width: 1100px){
        font-size: 50px;
    }
}

.Description {
    font-size: 30px;
    line-height: 39px;
    color: #fff;
    margin-bottom: 24px;
    line-height: 1.5;
    color: #8a8f98;

    @media(max-width: 1100px){
        font-size: 20px;
    }
}

.TechContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;

    .TechItem {
        font-size: 0.875rem;
        color: #00df9a;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.24em;
        margin-right: 16px;
        margin-bottom: 16px;
    }
}

.Margin {
    margin-left: 32px;
}

.PaddingRight {
    padding-right: 15px;
}