.H1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}

.H2 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}

.Span {
    color: #00df9a;
}

.Typed {
    color: #69696a;
}